In [ ]:
print("hello world")

In [ ]:
name="Shubham"
id=68

print(name,"type of the name is ", type(name),"type of the id is ",type(id))

In [ ]:
# Assign multiple value at the time 

a=b=c=1

'''
    c=1
    b=1
    a=1
'''

x,y,z = a,b,c

l,m,n = a

In [ ]:
'''ArithmeticError
    HOw to print use 

    + or ,

    + for string concate
'''

In [ ]:
'''
    for global variable write on the top    

    or global  x
'''

global x 
x= 10

In [ ]:
i=1
if i<1 :
    print("i is less then one")
else :
    print("no")

In [ ]:
for i in range(5):
    print(i)

In [ ]:
for num in range(10):
    if num == 5:
        break
    if num % 2 == 0:
        continue
    print(num)

this is the example of the for loop

In [ ]:
def greet(name):
    return f"Hello, {name}!"

greet("Shubham")

In [ ]:
def xtopw(x,y=2):
    return x**y

xtopw(5,2)